.venv
target/
dbt_packages/
logs/
*.duckdb
*.duckdb.wal
.DS_Store
venv
semantic_manifest/
semanitc_manifest.json
models/metrics/metrics_test
models/metrics/semantic_manifest.json
semantic_manifest
dbt-core/
.user.yml